<load target="css/config.scss" />
<load target="js/config.js" />

<div class="x_page-header">
	<h1>{$lang->cmd_adminextend}</h1>
</div>

<ul class="x_nav x_nav-tabs">
	<li class="x_active"|cond="$act == 'dispAdminextendAdminConfig'"><a href="{getUrl('', 'module', 'admin', 'act', 'dispAdminextendAdminConfig')}">{$lang->cmd_adminextend_general_config}</a></li>
	<li class="x_active"|cond="$act == 'dispAdminextendAdminSubAdminConfig'"><a href="{getUrl('', 'module', 'admin', 'act', 'dispAdminextendAdminSubAdminConfig')}">{$lang->cmd_adminextend_subadmin_config}</a></li>
</ul>